.rating-cards {
  display: flex;
  flex-direction: column;
}

.rating-card {
  border-radius: 0.5rem;
  border: 1px solid #e3e3e3;
  background-color: #f8f9fa;
}

.card-body {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.rating i {
  color: #ffc107;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  color: #6c757d;
}
