<div *ngIf="course" class="course-header container-fluid py-4 pb-4 mb-4">
  <div class="row align-items-center">
    <!-- Course Cover Image -->
    <div class="col-md-4 d-lg-none">
      <img [src]="course.coverPicture" class="img-fluid rounded shadow-sm" alt="Cover Image">
    </div>

    <!-- Course Information -->
    <div class="col-md-8">
      <h1 class="display-4">{{ course.title }}</h1>
      <p class="lead">
        {{ course.description || "No description available." }}
      </p>

      <!-- Course Rating and Creation Date -->
      <div class="course-meta mt-3 d-flex align-items-center">
        <!-- Rating -->
        <div class="rating me-3">
          <span *ngIf="course?.rate">
            <i class="fa fa-star" *ngFor="let _ of [].constructor(course?.rate)"></i>
            {{ course.rate || 0 }} / 5
          </span>
          <span *ngIf="!course?.rate" class="text-muted">No Rating</span>
        </div>

        <!-- Creation Date -->
        <div class="creation-date text-muted">
          Created on: {{ getFormattedDate(course.creationDate) }}
        </div>
      </div>

      <!-- Course Category -->
      <div class="mt-3">
        <span class="badge bg-secondary">{{ course.courseCategory.name }}</span>
      </div>

      <!-- Instructor Info -->
       <a [routerLink]='["/instructorProfile", course.instructor.id]' class="course-link">
      <div class="instructor-info mt-4 d-flex align-items-center">

        <img
          [src]="course.instructor.profilePicture|| 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/768px-Windows_10_Default_Profile_Picture.svg.png?20221210150350'

"
          class="instructor-avatar rounded-circle me-3"
        />

        <div>
          <span class="text-muted">Instructor: </span>
          <span>
            {{ course.instructor.fName + ' ' + course.instructor.lName }}
          </span>
        </div>
      </div>
    </a>
    </div>
  </div>

  <!-- Add to Cart Button for Small Screens -->
   @if(isenrolled){
    <div class="d-lg-none mt-4 text-center">
      <button class="btn btn-primary btn-lg w-100" [routerLink]="['/course/content/' , course.id]">
        Go to Course
      </button>
    </div>
  }@else if(!isauth){
  <div class="d-lg-none mt-4 text-center">
    <button class="btn btn-primary btn-lg w-100" [routerLink]="['/login']">
      Add to Cart
    </button>
  </div>
} @else {
  <div class="d-lg-none mt-4 text-center">
    <button class="btn btn-primary btn-lg w-100" (click)="addToCart(course.id)">
      Add to Cart
    </button>
  </div>
}
</div>
