<div class="card text-center my-5" style="width: 300px; margin: 0 auto;">
  <div class="card-header h5 text-white " style="background-color: #6772ff;">New Password</div>
  <div class="card-body px-5">
    <form #newpassword="ngForm" (ngSubmit)="onsubmit(newpassword)">
      <div class="form-outline my-3">
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="New password"
          [(ngModel)]="newpasswordform.password"
          name="password"
          required
          minlength="10"
          pattern="^(?=.*[A-Z])(?=.*[@#$%^&+=]).+$"
          [ngClass]="{ 'is-invalid': newpassword.submitted && !newpassword.form.controls['password']?.valid }"
        />
        <label class="form-label" for="password">New Password</label>
        <div *ngIf="newpassword.submitted && !newpassword.form.controls['password']?.valid" class="invalid-feedback">
          <div *ngIf="newpassword.form.controls['password']?.errors?.['required']">Password is required.</div>
          <div *ngIf="newpassword.form.controls['password']?.errors?.['minlength']">
            Password must be at least 12 characters long.
          </div>
          <div *ngIf="newpassword.form.controls['password']?.errors?.['pattern']">
            Password must contain at least one uppercase letter and one symbol ( #, $, etc.).
          </div>
        </div>
      </div>

      <div class="form-outline my-3">
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm password"
          [(ngModel)]="newpasswordform.confirmPassword"
          name="confirmPassword"
          required
          [ngClass]="{ 'is-invalid': newpassword.submitted && (!newpassword.form.controls['confirmPassword']?.valid || passwordMismatch) }"
        />
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <div *ngIf="newpassword.submitted && !newpassword.form.controls['confirmPassword']?.valid" class="invalid-feedback">
          Confirm Password is required.
        </div>
        <div *ngIf="passwordMismatch && newpassword.submitted" class="invalid-feedback">
          Passwords do not match.
        </div>
      </div>

      <p *ngIf="confirmationmessage" style="color: blue;">{{ confirmationmessage }}</p>

      <ul *ngIf="passwordErrors.length > 0" style="color: red;">
        <li *ngFor="let error of passwordErrors">{{ error }}</li>
      </ul>

      <button type="submit" class="btn  w-100" style="background-color: #6772ff;color: white;">
        Submit
        <span *ngIf="isloading" class="spinner-border spinner-border-sm mx-lg-2" role="status"></span>
      </button>
    </form>
 
  </div>
</div>


