<div class="card text-center my-5" style="width: 600px; margin: 0 auto;">
  <div class="card-header h5 text-white" style="background-color: #6772ff;">Password Reset</div>
  <div class="card-body px-5">
    <form #forgetpassword="ngForm" (ngSubmit)="onsubmit(forgetpassword)">
      <div class="form-outline my-3">
        <input type="email" id="typeEmail" class="form-control" placeholder="Enter your email"
          [(ngModel)]="forgetpasswordform.email" name="email" required
          [ngClass]="{ 'is-invalid': forgetpassword.submitted && !forgetpassword.controls['email'].valid }" />
        <div *ngIf="forgetpassword.submitted && !forgetpassword.controls['email'].valid" class="invalid-feedback">
          Email is required.
        </div>
      </div>
      <p *ngIf="errormessage" style="color: red;">{{ errormessage }}</p>
      <button type="submit" class="btn" style="background-color: #6772ff;color: white;font-weight: bold;">Reset Password
        @if(isloading){
        <span class="spinner-border spinner-border-sm mx-lg-2" role="status"></span>
        }
      </button>
    </form>
    <div class="d-flex justify-content-between mt-5">
      <!-- <a routerLink="/login">Login</a> -->
      <button class="btn btn-outline-secondary loginbtn" type="submit">
        <span style="font-weight: bold;">Go to login Page </span>
      </button>
      <!-- <a  routerLink="/register">Register</a> -->
      <button class="btn btn-outline-secondary loginbtn" type="submit">
        <span style="font-weight: bold;">Go to Register Page</span>
      </button>
    </div>
  </div>
</div>