  <div class="container mt-5">
    <div class="row">
      <!-- Card 1: Course Management -->
      <div class="col-md-4 ">
        <div class="card text-center course" >
          <div class="card-body" >
            <h5 class="card-title" style="color: black;">Course Management</h5>
            <p class="card-text">Create and manage announcements.</p>
            <a routerLink="/admin/courses" class="btn btn-primary">Go to Course Management</a>
          </div>
        </div>
      </div>

      <!-- Card 2: User Management -->
      <div class="col-md-4">
        <div class="card text-center user">
          <div class="card-body">
            <h5 class="card-title">User Management</h5>
            <p class="card-text">Create and manage announcements.</p>
            <a routerLink="/admin/users" class="btn btn-primary">Manage users and their roles</a>
          </div>
        </div>
      </div>

      <!-- Card 3: Announcement Management -->
      <div class="col-md-4">
        <div class="card text-center announcement">
          <div class="card-body">
            <h5 class="card-title">Announcement Management</h5>
            <p class="card-text">Create and manage announcements.</p>
            <a routerLink="/admin/announcements" class="btn btn-primary">Go to Announcement Management</a>
          </div>
        </div>
      </div>

      <!-- Card 3: Category Management -->
      <div class="col-md-4">
        <div class="card text-center category">
          <div class="card-body">
            <h5 class="card-title">Category Management</h5>
            <p class="card-text">Create and manage Category.</p>
            <a routerLink="/admin/categories" class="btn btn-primary">Go to Category Management</a>
          </div>
        </div>
      </div>

    </div>
  </div>
