.card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #343a40;
}

.course{
  margin-top: 20px;
  background-image: url(../../../assets/img/gallery/coursecategory2.jpeg);
  background-size: cover;
}
.user{
  margin-top: 20px;
  background-image: url(../../../assets/img/gallery/usercategory.jpeg);
  background-size: cover;
}
.announcement{
  margin-top: 20px;
  background-image: url(../../../assets/img/gallery/announcement.jpg);
  background-size: cover;
}
.category{
  margin-top: 20px;
  background-image: url(../../../assets/img/gallery/coursecategory1.jpeg);
  background-size: cover;
}