<footer class=" pt-5 pb-4" style="background-color:#4255A4; color:#fff">
    <div class="container">
        <!-- Footer Content -->
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Company</h5>
                <ul class="list-unstyled">
                    <li><a >About Us</a></li>
                    <li><a >Careers</a></li>
                    <li><a >Press</a></li>
                    <li><a >Blog</a></li>
                </ul>
            </div>
            <!-- Categories Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Categories</h5>
                <ul class="list-unstyled">
                    <li><a >Development</a></li>
                    <li><a >Business</a></li>
                    <li><a >Finance</a></li>
                    <li><a >Design</a></li>
                </ul>
            </div>
            <!-- Support Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Support</h5>
                <ul class="list-unstyled">
                    <li><a >Contact Us</a></li>
                    <li><a >Help Center</a></li>
                    <li><a >Privacy Policy</a></li>
                    <li><a >Terms of Service</a></li>
                </ul>
            </div>
            <!-- Follow Us Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div>
                    <h2><img src="assets/img/l2.svg">  Taalam</h2>
                </div>
                
                <ul class="list-unstyled d-flex">
                    <li><a  class="me-3"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a  class="me-3"><i class="fab fa-twitter"></i></a></li>
                    <li><a  class="me-3"><i class="fab fa-linkedin"></i></a></li>
                    <li><a ><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Divider -->
        <hr>
        <!-- Footer Bottom -->
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">© 2024 Taalam. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-end mb-0">
                    <li><a class="me-3">Privacy Policy</a></li>
                    <li><a >Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


